
/*==================================================================
SITE FOOTER STYLES
==================================================================*/

.site-footer {
    background: url('../images/footerbg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 0;

    .footer-top {
        margin: 0 0 50px;
    
        .footer-logoWrapper {
            .thumbnail-img {
                display: inline-block;
                vertical-align: middle;
            }
            h3.slogan {
                display: inline-block;
                vertical-align: middle;
                color: $defaultcolor;
                text-transform: uppercase;
                letter-spacing: 2px;
                margin: 0 0 0 30px;
            }
        }
    }


    .footer-bottom {
        .site-navigation {
            margin: 0 0 30px;
            .navbar {
                ul {
                    li {
                        a {
                            font-size: $font14;
                            line-height: 16px;
                        }
                    }
                }
            }
        }
        .copyright {
            color: $defaultcolor;
            font-family: $roboregularfont;
            font-size: $font12;
            letter-spacing: 2.5px;
            line-height: 14px;
        }
    }

}

