

/*==================================================================
SITE HEADER CSS
==================================================================*/

.site-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    padding: 18px 0;
    @include transition(0.4s);
    .site-logo {
        display: inline-block;
        vertical-align: middle;
        max-width: 195px;
        @include transition(0.4s);
        a {
            display: block;
        }
    }
}

.site-header {
    &.sticky {
        background: $stickycolor;
        padding: 10px 0;

        .site-logo {
            max-width: 165px;
        }

        .site-navigation {
            .navbar {
                ul {
                    li {
                        a {
                            font-size: 14px;
                        }
                    }
                }
            }
        }

        .social-icons {
            margin: 15px 0 0;
        }
        
    }
}

.site-navigation {
    display: inline-block;
    vertical-align: middle;
    margin-left: 58px;
    .navbar {
        padding: 0;
        ul {
            li {
                display: inline-block;
                vertical-align: middle;
                margin-right: 30px;
                a {
                    display:block;
                    color: $defaultcolor;
                    text-transform: uppercase;
                    letter-spacing: $lspacetwo;
                    line-height: 18px;
                }

                &.active,
                &:hover {
                    a {
                        color: $hovercolor;
                    }
                }
            }
        }
    }
}

.social-icons {
    float: right;
    margin: 24px 0 0;
    @include transition();
    ul {
        li {
            display: inline-block;
            vertical-align: middle;
            margin-right: 26px;
            a {
                display: block;
                position: relative;
                top: 0;

                &:hover {
                    top: -5px;
                }
            }

            &:last-of-type {
                margin-right: 0px;
            }
        }
    }
}



