
/*===========================================
LINKING FONTS
===========================================*/

@font-face {
    font-family: $altboldfont;
    src: url('../fonts/altair-bold_trial-webfont.woff2') format('woff2'),
         url('../fonts/altair-bold_trial-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: $altthinfont;
    src: url('../fonts/altair-thin_trial-webfont.woff2') format('woff2'),
         url('../fonts/altair-thin_trial-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: $robolightfont;
    src: url('../fonts/roboto-light-webfont.woff2') format('woff2'),
         url('../fonts/roboto-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: $roboregularfont;
    src: url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

