
/*==================================================================
RESET CSS
==================================================================*/

.selector-for-some-widget {
    box-sizing: content-box;
}

* {
    box-sizing: border-box;
}

body {
    background: $defaultcolor;
    font-family: $roboregularfont, $defaultfont;
    font-size: $font15;
    line-height: 1;
    color: $darkcolor;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 20px;
    font-weight: normal;
    font-family: $altboldfont;
}

p {
    margin: 0;
    font-family: $robolightfont;
}

figure {
    margin: 0;
}

img {
    max-width: 100%;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    color: #666;
    @include transition();
}

a:hover,
a:focus {
    text-decoration: none;
}

.btn {
    border-radius: 0px;
}

.btn:focus {
    outline: 0;
    box-shadow: none;
}


/*==================================================================
COMMON STYLES
==================================================================*/

#backdrop {
    position: absolute; 
    top: 0;
    left: 0;
    width: calc(100% - 48%);
    height: 100%;
    z-index: 0;
    visibility: hidden;
    opacity: 0;

    &.open {
        opacity: 1;
        visibility: visible;
        z-index: 1;
    }
}

.thumbnail-img {
    position: relative;
    overflow: hidden;
}

.navbar-toggle {
    display: none;
    border: none;
    background: none;
    margin: 15px 0 0;
    float: right;

    &:focus {
        outline: 0;
    }
}

.navbar-close {
    display: none;
    border: none;
    background: none;
    max-width: 28px;
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 1;

    &:focus {
        outline: 0;
    }
}

.site-btn {
    background: $btncolor;
    text-transform: uppercase;
    color: $defaultcolor;
    padding: 14px 23px;
    font-family: $roboregularfont;
    font-size: 18px;
    letter-spacing: $lspacetwo;
    display: inline-block;
    @include transition();

    &:hover {
        background: $blackcolor;
        color: $defaultcolor;
    }
}













