

/*===================================================================
LARGE SCREEN DEVICES
===================================================================*/

@media screen and (min-width: 1450px) {

    .container {
        max-width: 1300px;
    }

}


@media screen and (min-width: 1200px) {

    .container-fluid {
        padding: 0 50px;
    }

}


/*===================================================================
LARGE SCREEN DEVICES
===================================================================*/

@media screen and (min-width: 1025px) and (max-width: 1200px) {
    
    // SITE HEADER STYLES
    .site-header {
        .site-navigation {
            margin-left: 20px;
            .navbar {
                ul {
                    li {
                        margin-right: 20px;
                        a {
                            font-size: $font13;
                        }
                    }
                }
            }
        }
        .social-icons {
            ul {
                 li {
                     margin-right: 10px;
                     a {
                         max-width: 40px;
                     }
                 }
            }
        }
    }


    // HOME SLIDESHOW STYLES
    .homeslideshow {
        .bottlefigure {
            max-width: 370px;
            right: 20px;
            bottom: -60px;
        }
    }


    // COCKTAILS SECTION STYLES 
    .cocktails {
        .content-area {
            margin-left: 100px;
            min-height: 580px;
        }
    }

}



/*===================================================================
MEDIUM SCREEN (TABLET SIZE) DEVICES
===================================================================*/

@media  screen and (min-width: 768px) and (max-width: 1024px) {
    
    // SITE HEADER STYLES

    .site-header.sticky,
    .site-header { 
        .site-logo {
            max-width: 150px;
        }

        .site-navigation {
            margin-left: 25px;

            .navbar {
                ul {
                    li {
                        margin-right: 10px;
                        a {
                            font-size: $font12;
                            letter-spacing: $lspaceone;
                        }
                    }
                }
            }
        }

        .social-icons {
            margin: 20px 0 0;
            ul {
                li {
                    margin-right: 7px;
                    a {
                        max-width: 30px;
                    }
                }
            }
        }
    }


    // HOME SLIDESHOW STYLES
    .homeslideshow {
        .bottlefigure {
            max-width: 280px;
            right: 15px;
            bottom: -60px;
        }
    }


    // OUR STORY STYLES
    .ourstory {
        padding: 100px 0;
        .content-area {
            padding-left: 50px;
        }
    }

    // COCKTAILS SECTION STYLES
    .cocktails {
        .content-area {
            min-height: 430px;
            margin-left: 0px;
            padding: 0 50px;
            max-width: 100%;

            h1 {
                font-size: 24px;
            }
        }
    }


    // SITE FOOTER SYTLES
    .site-footer {
        .social-icons {
            ul {
                li {
                    margin-right: 15px;
                    a {
                        max-width: 35px;
                    }
                }
            }
        }

        .site-navigation {
            .navbar {
                ul {
                    li {
                        margin: 0 10px 10px 0;
                        a {
                            letter-spacing: 2px;
                        }
                    }
                }
            }
        }
        
        .footer-top {
            .footer-logoWrapper {
                .thumbnail-img {
                    max-width: 140px;
                }
                h3.slogan {
                    margin: 0 0 0 15px;
                    font-size: $font15;
                }
            }
            .social-icons {
                margin: 10px 0 0;
            }
        }
    }


}


/*===================================================================
SMALL SCREEN DEVICES
===================================================================*/

@media screen and (max-width: 767px) {

    // GLOBAL STYLES
    body {
        font-size: $font13;
    }

    h1 {
        font-size: $font20;
        margin: 0 0 10px;
        letter-spacing: $lspacetwo;
    }

    h3 {
        font-size: $font15;
        letter-spacing: $lspacetwo;
    }

    .site-btn {
        font-size: $font13;
        padding: 10px 15px;
        letter-spacing: $lspaceonehalf;
    }

    // SITE HEADER STYLES
    .site-header {
        position: static;
        background: $blackcolor;
        padding: 10px 0;

        &.sticky {
            background: $blackcolor;;
            .site-logo {
                max-width: 140px;
            }
        }

        .site-logo {
            max-width: 140px;
        }

        .social-icons {
            display: none;
        }

        .site-navigation {
            margin-left: 30px;
            .navbar {
                ul {
                    li {
                        margin-right: 10px;
                        a {
                            letter-spacing: $lspaceone;
                            font-size: $font12;
                        }
                    }
                }
            }
        }

        &.sticky {
            .site-navigation {
                .navbar {
                    ul {
                        li {
                            a {
                                font-size: $font12;
                            }
                        }
                    }
                }
            }
        }
    
    }


    // HOME SLIDESHOW STYLES
    .homeslideshow {
        .slidercontentWrapper {
            .slider-content {
                padding: 15px;
                @include transformY(0);

                h1 {
                    letter-spacing: $lspacetwo;
                }

                p {
                    font-size: 13px;
                    line-height: 20px;
                }
            }
        } 

        .custompager {
            bottom: 20px;
            width: auto;
            left: 50%;
            @include transformX(-50%);
            #pager1 {
                .bx-default-pager {
                    .bx-pager-item {
                        a {
                            width: 25px;
                        }
                    }
                }
            }
        }
    } 


    // SECTION HOMESLIDESHOW
    .homeslideshow {
        .bottlefigure {
            bottom: -110px;
            right: 10px;
            max-width: 280px;
        }
    }


    // SECTION OUR STORY STYLES
    .ourstory {
        background-position: center;
        padding: 30px 0;
        .content-area {
            padding-left: 0;

            h1 {
                margin: 0 0 15px;
            }

            h3 {
                line-height: 24px;
                letter-spacing: $lspaceonehalf;
                margin: 0 0 20px;
            }

            p {
                line-height: 17px;
                margin: 0 0 20px;
                letter-spacing: $lspaceonehalf;
                br {
                    display: none;
                }
            }
        }

    }


    // SECTION PRODUCT DISPLAY STYLES
    .displayproducts {
        padding: 30px 0;
        min-height: auto;
        background-attachment: inherit;

        .content-area {
            h1{
                margin: 0 0 20px;
            }
            p {
                margin: 0 0 20px;
                letter-spacing: $lspaceonehalf;
                line-height: 17px;
            }
        }

    }


    // SECTION COCKTAILS STYLES
    .cocktails {
        .content-area {
            min-height: auto;
            max-width: 100%;
            margin-left: 15px;
            padding: 25px 0;

            h1 {
                margin: 0 0 20px;
            }

            p {
                margin: 0 0 20px;
                letter-spacing: $lspaceonehalf;
                line-height: 19px;
            }
        }
    }


    // SITE FOOTER STYLES
    .site-footer {
        padding: 20px 0;

        .footer-top {
            margin: 0 0 50px;
        
            .footer-logoWrapper {
                text-align: center;
                .thumbnail-img {
                    max-width: 140px;
                    margin: 0 0 10px;
                }
                h3.slogan {
                    margin: 0 0 0 10px;
                    font-size: $font11;
                }
            }
        }

        .social-icons {
            margin: 20px 0 0;
            float: none;
            text-align: center;
            ul {
                li {
                    margin-right: 10px;
                    a {
                        max-width: 30px;
                    }
                }
            }
        }

        .site-navigation {
            margin: 0 0 15px;
            .navbar {
                ul {
                    li {
                        margin: 0 10px 10px 0;
                        a {
                            letter-spacing: $lspaceonehalf;
                            font-size: $font12;
                        }
                    }
                }
            }
        }

        .footer-bottom {
            .copyright {
                line-height: 18px;
            }
        }

    }

}


/*===========================================
EXTRA SMALL DEVICES (MEDIA SCREEN)
===========================================*/

@media screen and (max-width: 576px) {


    // SITE HEADER STYLES
    .navbar-toggle,
    .navbar-close {
        display: block;
    }

    .site-header {
        .site-navigation {
            background: $blackcolor;
            position: fixed;
            top: 0;
            right: 0;
            height: 100vh;
            z-index: 9;
            width: 180px;
            @include transformX(100%);
            @include transition();
            opacity: 0;
            visibility: hidden;
    
            .navbar {
                display: block;
                padding: 30px 20px;
                text-align: right;
                ul {
                    li {
                        display: block;
                        margin: 0 0 20px;
                    }
                }
            }

            &.open {
                @include transformX(0);
                opacity: 1;
                visibility: visible;
            }
        }
        
    }


    // HOME SLIDESHOW STYLES
    .homeslideshow {
        .bottlefigure {
            display: none;
        }
    }  

}