

/*==================================================================
MIXIN STYLES
==================================================================*/

@mixin transition($value: 0.3s) {
    transition: all $value ease-in-out;
    -webkit-transition: all $value ease-in-out;
    -moz-transition: all $value ease-in-out;
}

@mixin transformY($value: 24px) {
    transform: translateY($value);
    -webkit-transform: translateY($value);
    -moz-transform: translateY($value);
}

@mixin transformX($value: 50%) {
    transform: translateX($value);
    -webkit-transform: translateX($value);
    -moz-transform: translateX($value);
}

@mixin transformscaleone() {
    transform: scale(1.1,1.1);
    -webkit-transform: scale(1.1,1.1);
    -moz-transform: scale(1.1,1.1);
}