/*==================================================================
SECTION SLIDESHOW STYLES
==================================================================*/

.homeslideshow {
    position: relative;
    .slidercontentWrapper {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        .slider-content {
            color: $defaultcolor;
            padding: 30px 0 30px 30px;
            border-left: 2px solid #5f5f5f;
            @include transformY(24px);
            h1 {
                text-transform: uppercase;
                letter-spacing: 3.5px;
                span {
                    color: $hovercolor;
                }
            }
            p {
                line-height: 30px;
                letter-spacing: $lspaceonehalf;
            }
        }
    }

    .slider-item {
        img {
            width: 100%;
        }
    }

    .custompager {
        position: absolute;
        bottom: 80px;
        left: 0;
        width: 100%;

        #pager1 {
            position: relative;
            z-index: 1;
            left: 10px;
            .bx-default-pager {
                .bx-pager-item {
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 6px;
    
                    &:last-child {
                        margin-right: 0px;
                    }
    
                    a {
                        display: block;
                        height: 4px;
                        width: 38px;
                        border-radius: 0px;
                        background: #577491;
                        color: transparent;
                        @include transition();
                    }
                    a.active {
                        background: #fff;
                    }
                } 
            }
        }
    }

    .bx-wrapper {
        .bx-pager-item {
            margin-right: -4px;
        }
    } 
    .bx-wrapper { 
        margin: 0;
        box-shadow: none;
        border: none;
    }
    .bx-wrapper .bx-pager, 
    .bx-wrapper .bx-controls-auto {
        bottom: 92px;
        z-index: 1;
        text-align: left;
        padding-top: 0px;
        width: auto;
        left: 160px;
    }
    .bx-wrapper .bx-pager.bx-default-pager a:hover, 
    .bx-wrapper .bx-pager.bx-default-pager a.active, 
    .bx-wrapper .bx-pager.bx-default-pager a:focus {
        background: $defaultcolor;
    }
    .bottlefigure {
        position: absolute;
        bottom: -110px;
        right: 30px;
        max-width: 500px;
    }
}


/*==================================================================
SECTION OUR STORY STYLES
==================================================================*/

.ourstory {
    background: url('../images/storybg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 230px 0 182px;
    .content-area {
        color: $defaultcolor;
        padding-left: 110px;
        h1 {
            text-transform: uppercase;
            letter-spacing: 3px;
            position: relative;
            padding: 0 0 8px;
            margin: 0 0 50px;

            &:before {
                position: absolute;
                content: "";
                bottom: 0;
                left: 0;
                height: 2px;
                background: #fff;
                width: 72px;
            }
        }
        h3 {
            font-family: $robolightfont;
            line-height: 35px;
            letter-spacing: 1.5px;
            margin: 0 0 47px;
        }
        p {
            font-family: $roboregularfont;
            line-height: 25px;
            letter-spacing: 2px;
            margin: 0 0 54px;
        }
    }
}


/*==================================================================
SECTION PRODUCT DISPLAY STYLES
==================================================================*/

.displayproducts {
    background: url('../images/productdisplaybg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 192px 0 175px;
    position: relative;
    min-height: 600px;
    .content-area {
        h1 {
            text-transform: uppercase;
            letter-spacing: 3px;
            position: relative;
            padding: 0 0 7px;
            margin: 0 0 54px;
            color: $secondarycolor;

            &:before {
                position: absolute;
                content: "";
                bottom: 0;
                right: 47px;
                height: 2px;
                background: $secondarycolor;
                width: 72px;
            }
        }
        p {
            font-family: $roboregularfont;
            line-height: 25px;
            letter-spacing: $lspaceone;
            margin: 0 0 48px;
        }
        .site-btn {
            background: $secondarycolor;

            &:hover {
                background: $hovercolortwo;
            }
        }
    }
}


/*==================================================================
SECTION COCKTAILS STYLES
==================================================================*/

.cocktails {
    background: url('../images/cocktailsbg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    .cocktailblock {
        .thumbnail-img {
            img {
                width: 100%;
                @include transition(0.8s);
            }
        }

        &:hover {
            .thumbnail-img {
                img {
                    @include transformscaleone();
                }
            }
        }
    }
    .content-area {
        color: $defaultcolor;
        min-height: 750px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        margin-left: 200px;
        max-width: 430px;
        h1 {
            text-transform: uppercase;
            letter-spacing: 3px;
            position: relative;
            padding: 0 0 8px;
            margin: 0 0 43px;

            span {
                color: #e0e0e0;
            }

            &:before {
                position: absolute;
                content: "";
                bottom: 0;
                left: 0;
                height: 2px;
                background: #e0e0e0;
                width: 65px;
            }
        }
        p {
            font-family: $roboregularfont;
            line-height: 25px;
            letter-spacing: 2px;
            margin: 0 0 43px;
        }
    }

}
