
/*==================================================================
FONT FAMILY VARIABLES
==================================================================*/

$defaultfont: Arial, Helvetica, sans-serif;;
$altthinfont: 'altairthin';
$altboldfont: 'altairbold';
$robolightfont: 'robotolight';
$roboregularfont: 'robotoregular';


/*==================================================================
FONT SIZE VARIABLES
==================================================================*/

$font11: 11px;
$font12: 12px;
$font13: 13px;
$font14: 14px;
$font15: 15px;
$font16: 16px;
$font17: 17px;
$font18: 18px;
$font19: 19px;
$font20: 20px;
$font25: 25px;
$font30: 30px;
$font38: 38px;


/*==================================================================
COLOR VARIABLES
==================================================================*/

$defaultcolor: #ffffff;
$btncolor: #212121;
$hovercolor: #bdbdbd;
$hovercolortwo: #024490;
$blackcolor: #000000;
$secondarycolor: #0055b8;
$darkcolor: #212121;
$stickycolor: #001123;


/*==================================================================
LETTER SPACING VARIABLES
==================================================================*/

$lspaceone: 1px;
$lspaceonehalf: 1.5px;
$lspacetwo: 2px;
$lspacetwohalf: 2.5px;
$lspacethree: 3px;




