
/*==================================================================
TYPOGRAPHY STYLES
==================================================================*/

h1 {
    font-size: $font30;
    letter-spacing: $lspacethree;
}

h2 {
    font-size: $font25;
}

h3 {
    font-size: $font20;
}